// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import 'ui-variables';

/*
@-webkit-keyframes scroll {
	from {
		left: 100%;
	}
	to {
		left: -100%;
	}
}
*/

.mpd {
	@width-total:  160px;
	@height-total: 20px;

	position: relative;
	display: inline-block;
	width: @width-total;
	height: @height-total;
	vertical-align: top;
	margin: 0 8px;
	overflow: hidden;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 1px;

	& > .title {
		width: @width-total;
		position: absolute;
		left: 0;
		right: 0;
		top: 0px;
		height: 100%;
		background: @base-background-color;
	}

	& > .status,
	& > .volume {
		position: absolute;
		display: inline-block;
		top: 0px;
		height: 100%;
		text-align: center;

		&.volume {
			right: 0px;
			box-shadow: -2px 0 2px 0 black, -2px 0 2px 0 black inset;
			padding: 0 5px 0 3px;
			background: @base-background-color;
			&:after {
				content: '%'
			}
		}

		&.status {
			left: 0px;
			// padding: 0 3px 0 5px;
			box-shadow: 2px 0 2px 0 black, 2px 0 2px 0 black inset;
		}
	}


	& > span {
		position: absolute;
		top: 0%;
		-webkit-animation: scroll 5s linear infinite;
	}
}
